@media (max-width:1280px) {
    .principal .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        
        
    }

    .principal .informacoes h2 {
        font-size: 25px;

    }

    .principal .informacoes p{
        font-size: 15px;
    }

    .principal .informacoes .btn{
        margin-top: -10px;
        padding: 5px 25px;
        
    

    }

       
    
}

@media (max-width:1200px) {
    .principal {
     flex-direction: column;
  }

    
  .socialmedia .button {
    align-items: flex-end;
  }
}

@media (max-width:768px) and (min-width: 465px){
    .principal .informacoes h2 {
        font-size: 20px;
    }

    .principal .informacoes p{
        font-size: 12px;
    }

    .socialmedia {
        justify-content: flex-end;
        margin-left: 900px;
    }
}

@media (max-width:440px) {
    body {
       background-image: url(../image/bg-mobile.svg);
       background-repeat: no-repeat;
       background-size: cover;
       
    }

    .header .logo {
        margin-left: 50px;
        align-items: center;
        padding-left: 120px;
    }

    .principal {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-bottom: 50px;

    }

    .principal .informacoes h2{
        font-size: 40px;
    }

    .principal .informacoes p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .socialmedia {
        margin: 0px 0px 0px 0px;
        padding-left: 350px;
        justify-content: center;
    }
    

}
